:root {
  --gambapet-brown: #b16b37;
  --gambapet-orange: #e65d13;
  --gambapet-cream: #d5c1a1;
  --gambapet-white: #f7ebda;
  --gambapet-gray: #4e4e4e;
}

$breakpoints: (
  "phone-s": 319px,
  "phone-m": 374px,
  "phone-l": 424px,
  "tablet": 767px,
  "computer-s": 1023px,
  "computer-l": 1440px,
  "computer-xl": 2559px,
);

@mixin media-min($_key) {
  @media screen and (min-width: map-get( $breakpoints, $_key )) {
    & {
      @content;
    }
  }
}
@mixin media-max($_key) {
  @media screen and (max-width: map-get( $breakpoints, $_key )) {
    & {
      @content;
    }
  }
}

@mixin media($min, $max) {
  @include media-min($min) {
    @include media-max($max) {
      & {
        @content;
      }
    }
  }
}

/*
 * Define color and background-color for the website
 */
.bg-brown {
  background-color: #b16b37;
}
.c-brown {
  color: #b16b37;
}
.bg-orange {
  background-color: #e65d13;
}
.c-orange {
  color: #e65d13;
}
.bg-cream {
  background-color: #d5c1a1;
}
.c-cream {
  color: #d5c1a1;
}
.bg-white {
  background-color: #f7ebda;
}
.c-white {
  color: #f7ebda;
}
.bg-gray {
  background-color: #4e4e4e;
}
.c-gray {
  color: #4e4e4e;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p,
h2 {
  color: #4e4e4e;
}

.join-bt {
  border: 0;
  padding: 1vh 0;
  background-color: #e65d13;
  color: #fff;
  border-radius: 2vw;
  width: 80%;
  font-size: 3vw;
  align-self: center;
  @include media-min("computer-s") {
    border-radius: 0.5vw;
    font-size: 1vw;
    margin-top: 7vh;
    width: 20%;
  }
}

.join-bg {
  background-image: url("/assets/img/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.join-button {
  padding: 10px;
  border-radius: 6px;
}

.values {
  &__our-values {
    background-color: #d5c1a1;
    padding: 1vw;
  }

  &__title {
    font-size: 3vw;
  }
  @include media-min("computer-s") {
    &__title {
      font-size: 1.5vw;
    }
  }

  &__bloc {
    margin-top: 6vw;
    margin-bottom: 6vw;
  }
}

.paw-icon {
  padding-bottom: 3px;
}

.story1-bloc {
  background-color: #e65d13;
  color: white;
}

.story2-bloc {
  margin-top: 10vw;
}

.story2-img {
  margin-right: 0;
}

.description {
  &__diagonal-section {
    transform: skewY(-3deg);
    transform-origin: top right;
    overflow: hidden;
    background-color: #e65d13;
    color: white;
  }

  &__diagonal-section .container {
    transform: skewY(3deg);
    transform-origin: top right;
  }

  &__rectangle-info {
    margin-top: 14vw;
    margin-bottom: 6vw;
  }

  &__diagonal-section2 {
    margin-top: 15vw;
    margin-bottom: 6vw;
  }

  &__stories {
    &__paragraph {
      font-size: 1.4vw;
      color: white;
    }
    &__paragraph2 {
      font-size: 1.4vw;
    }
  }

  &__title {
    margin-bottom: 3vw;
  }
}

.button {
  border: none;
  background-color: #e65d13;
  color: #fff;
  padding: 1% 3%;
  width: 45vw;
  border-radius: 10px;
  font-weight: 800;
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-size: 3vw;
  @include media-min("computer-l") {
    border-radius: 30px;
    width: 27vw;
    font-size: 1.4vw;
  }
  @include media("computer-s", "computer-l") {
    border-radius: 40px;
    width: 27vw;
    font-size: 1.4vw;
  }
}

.newsletter {
  padding-top: 3vh;
  display: flex;
  height: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/newsletter.png");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  @include media-min("computer-l") {
    height: 60vh;
  }
  @include media("computer-s", "computer-l") {
    height: 70vh;
    padding-top: 0vh;
  }
  &__title {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    color: #e65d13;
    @include media-min("computer-l") {
      font-size: 2.4vw;
      margin-bottom: 6vh;
      max-width: 60vw;
    }
    @include media("computer-s", "computer-l") {
      margin-bottom: 6vh;
      max-width: 70vw;
      font-size: 3vw;
    }
  }
  &__form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    color: #fff;
    @include media-min("computer-l") {
      max-width: 60vw;
    }
    @include media("computer-s", "computer-l") {
      max-width: 70vw;
    }
    & input {
      font-size: 3vw;
      background: none;
      border: none;
      border-bottom: 0.2vw solid #fff;
      width: 70vw;
      @include media-min("computer-l") {
        max-width: 40vw;
        font-size: 2vw;
      }
      @include media("computer-s", "computer-l") {
        max-width: 50vw;
        font-size: 1.7vw;
      }
      &:focus {
        outline-width: 0vw;
      }
      color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
    & a {
      font-weight: 900;
      text-decoration: none;
      color: #fff;
    }
  }
  &__cgu {
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 2.4vw;
    column-gap: 1vh;
    & label {
      text-align: left;
    }
    @include media-min("computer-l") {
      align-items: center;
      max-width: 40vw;
      & label {
        font-size: 1vw;
      }
    }
    @include media("computer-s", "computer-l") {
      align-items: center;
      max-width: 50vw;
      & label {
        font-size: 1.3vw;
      }
    }
    & input {
      min-width: 10px;
      max-width: 1vw;
    }
  }
}

.footer {
  background-color: #d5c1a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    @include media-min("computer-l") {
      flex-direction: row;
      width: 100%;
    }
    @include media("computer-s", "computer-l") {
      flex-direction: row;
      width: 100%;
    }
  }
  &__left {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    &__network {
      display: flex;
      align-items: center;
      column-gap: 7vw;
      margin-top: -4vh;
      margin-bottom: 3vh;
      & div {
        width: 6vw;
        @include media-min("computer-s") {
          width: 3vw;
        }
      }
      & img {
        width: 100%;
        height: 100%;
      }
      @include media-min("computer-s") {
        justify-items: flex-end;
        position: absolute;
        bottom: 0;
      }
    }
    &__logo {
      margin-top: -4vh;
      & img {
        width: 100%;
      }
      @include media-min("computer-s") {
        width: 20vw;
        margin-top: 0;
      }
    }
    @include media-min("computer-s") {
      width: 50vw;
      position: relative;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    &__title {
      color: #e65d13;
      font-size: 5vw;
      @include media-min("computer-l") {
        font-size: 2vw;
      }
      @include media("computer-s", "computer-l") {
        font-size: 2vw;
      }
    }
    &__form {
      margin-top: 2vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1vh;
      color: #fff;
      @include media-min("computer-l") {
        max-width: 45vw;
        width: 100%;
      }
      @include media("computer-s", "computer-l") {
        max-width: 40vw;
        width: 100%;
      }
      & input {
        font-size: 3vw;
        background: none;
        border: none;
        border-bottom: 0.2vw solid #fff;
        width: 70vw;
        &:focus {
          outline-width: 0vw;
        }
        color: #fff;
        &::placeholder {
          color: #fff;
        }
        @include media-min("computer-l") {
          max-width: 100%;
          font-size: 2vw;
        }
        @include media("computer-s", "computer-l") {
          max-width: 100%;
          font-size: 1.7vw;
        }
      }
      & textarea {
        background: none;
        border: none;
        font-size: 3vw;
        width: 70vw;
        border-bottom: 0.2vw solid #fff;
        border-left: 0.2vw solid #fff;
        color: #fff;
        &::placeholder {
          color: #fff;
        }
        &:focus {
          outline-width: 0vw;
        }
        @include media-min("computer-l") {
          max-width: 100%;
          font-size: 2vw;
        }
        @include media("computer-s", "computer-l") {
          max-width: 100%;
          font-size: 1.7vw;
        }
      }
    }
    @include media-min("computer-l") {
      width: 50vw;
    }
    @include media("computer-s", "computer-l") {
      width: 50vw;
    }
    &__politic {
      width: 70vw;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-size: 2.4vw;
      column-gap: 1vh;
      & label {
        text-align: left;
      }
      & input {
        min-width: 10px;
        max-width: 1vw;
      }
      @include media-min("computer-l") {
        align-items: center;
        max-width: 100%;
        & label {
          font-size: 1vw;
        }
      }
      @include media("computer-s", "computer-l") {
        max-width: 100%;
        align-items: baseline;
        & label {
          font-size: 1.3vw;
        }
      }
    }
    &__button {
      border: none;
      background-color: #e65d13;
      color: #fff;
      padding: 1% 3%;
      border-radius: 10px;
      margin-top: 2vh;
      font-size: 3vw;
      @include media-min("computer-l") {
        border-radius: 30px;
        font-size: 1.4vw;
      }
      @include media("computer-s", "computer-l") {
        border-radius: 40px;
        font-size: 1.4vw;
      }
    }
  }
  &__copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 2.3vw;
    padding-bottom: 1vh;
    @include media-min("computer-l") {
      & span:first-child::after {
        content: " |";
      }
      flex-direction: row;
      column-gap: 0.5vw;
      text-align: justify;
      font-size: 1vw;
      margin-top: 2vh;
    }
    @include media("computer-s", "computer-l") {
      & span:first-child::after {
        content: " |";
      }
      flex-direction: row;
      column-gap: 0.5vw;
      text-align: justify;
      font-size: 1vw;
      margin-top: 2vh;
    }
  }
}

.professionnal {
  background-color: #d5c1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 6vw;
    font-weight: 700;
    margin: 3vh 0;
    color: #000;
    @include media-min("computer-l") {
      font-size: 3.8vw;
      margin: 6vh 0;
    }
    @include media("computer-s", "computer-l") {
      font-size: 2.4vw;
      margin: 7vh;
    }
  }
  &__items {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3vh;
  }
  &__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    &__img {
      width: 10vw;
      height: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        width: 100%;
      }
      @include media-min("computer-l") {
        width: 6vw;
        height: 6vw;
      }
      @include media("computer-s", "computer-l") {
        width: 4vw;
        height: 4vw;
      }
    }
    &__title {
      text-align: center;
      font-size: 4vw;
      font-weight: 800;
      color: #4e4e4e;
      @include media-min("computer-l") {
        font-size: 2.4vw;
      }
      @include media("computer-s", "computer-l") {
        font-size: 1.7vw;
      }
    }
    &__text {
      flex: 1;
      color: #fff;
      text-align: center;
      font-size: 3vw;
      @include media-min("computer-l") {
        font-size: 1.9vw;
      }
      @include media("computer-s", "computer-l") {
        font-size: 1.2vw;
      }
    }
  }
}

.us {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
  padding: 0 2vw;
  &__text {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    &__title {
      color: #4e4e4e;
      font-weight: 800;
      font-size: 5vw;
      @include media-min("computer-l") {
        font-size: 2vw;
        align-self: flex-start;
      }
      @include media("computer-s", "computer-l") {
        font-size: 3vw;
      }
    }
    &__body {
      font-size: 2.6vw;
      @include media-min("computer-l") {
        font-size: 1.3vw;
      }
      @include media("computer-s", "computer-l") {
        font-size: 1.8vw;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 2vw;
    row-gap: 2vh;
    @include media-min("computer-l") {
      font-size: 1.3vw;
      column-gap: 1vw;
    }
    @include media("computer-s", "computer-l") {
      font-size: 1.8vw;
      column-gap: 1vw;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 32vw;
    height: 50vw;
    @include media-min("computer-l") {
      width: 16vw;
      height: 25vw;
    }
    @include media("computer-s", "computer-l") {
      width: 16vw;
      height: 25vw;
    }
    &__img {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    &__text {
      position: absolute;
      bottom: 0;
      display: flex;
      font-size: 2vw;
      flex-wrap: wrap;
      background-color: #e65d13;
      width: 100%;
      color: #fff;
      align-items: baseline;
      column-gap: 2vw;
      justify-content: center;
      padding: 1vh 1.5vw;
      @include media-min("computer-l") {
        font-size: 1.2vw;
        column-gap: 0.4vw;
      }
      @include media("computer-s", "computer-l") {
        font-size: 1.2vw;
        column-gap: 0.4vw;
      }
      &__upper {
        font-weight: 700;
        font-size: 3vw;
        @include media-min("computer-l") {
          font-size: 1.5vw;
        }
        @include media("computer-s", "computer-l") {
          font-size: 1.5vw;
        }
      }
    }
  }
  &__button {
    border: none;
    background-color: #e65d13;
    color: #fff;
    padding: 1% 3%;
    border-radius: 10px;
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-size: 3vw;
    @include media-min("computer-l") {
      border-radius: 30px;
      font-size: 1.4vw;
    }
    @include media("computer-s", "computer-l") {
      border-radius: 40px;
      font-size: 1.4vw;
    }
  }
}

.dl {
  background: url("/assets/img/dl.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-min("computer-l") {
    height: 60vh;
  }
  @include media("computer-s", "computer-l") {
    height: 60vh;
  }
  &__text {
    text-align: center;
    margin-top: 2vh;
    color: #fff;
  }
}

.header {
  display: flex;
  flex-direction: column;
  &__top {
    background: url("/assets/img/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: flex-start;
    padding: 0 2vw;
    @include media-min("computer-l") {
      height: 80vh;
      align-items: center;
    }
    @include media("computer-s", "computer-l") {
      height: 80vh;
      align-items: center;
    }
    &__tl {
      margin-top: 5vh;
      display: flex;
      align-items: center;
      @include media-min("computer-l") {
        margin-top: 10vh;
      }
      @include media("computer-s", "computer-l") {
        margin-top: 10vh;
      }
    }
    &__title {
      color: #fff;
      font-weight: 800;
      font-size: 7vw;
      width: 50vw;
      @include media-min("computer-l") {
        font-size: 4vw;
        width: 30vw;
      }
      @include media("computer-s", "computer-l") {
        font-size: 4vw;
        width: 30vw;
      }
    }
    &__logo {
      width: 50vw;
      @include media-min("computer-l") {
        width: 30vw;
      }
      @include media("computer-s", "computer-l") {
        width: 30vw;
      }
      & img {
        width: 100%;
      }
    }
  }
  &__text {
    margin: 4vh 0;
    color: #4e4e4e;
    font-size: 4vw;
    text-align: center;
    @include media-min("computer-l") {
      font-size: 2vw;
    }
    @include media("computer-s", "computer-l") {
      font-size: 2vw;
    }
  }
}
