<div class="header">
  <div class="header__top">
    <div class="header__top__tl">
      <div class="header__top__title">Bienvenue sur GambaPet !</div>
      <div class="header__top__logo">
        <img src="/assets/img/logo.png" alt="logo" />
      </div>
    </div>
    <button class="button">Rejoignez-nous !</button>
  </div>
  <div class="header__text">
    Trouvez les activités, lieux de balades et les professionnels du bien-être
    pour votre chien en 1 clic !
  </div>
</div>

<div class="values">
  <div class="d-flex justify-content-center values__our-values">
    <span class="values__title">Nos Valeurs</span>
  </div>

  <div class="d-flex justify-content-evenly values__bloc">
    <div class="flex-col justify-content-center our-values-group">
      <div class="row">
        <img
          src="/assets/svg/accessibility.svg"
          alt="accessibility-icon"
          class="mx-auto values-icons"
          style="width: 6vw"
        />
      </div>
      <div class="d-flex flex-row justify-content-center mx-auto">
        <span>Accessibilité</span>
      </div>
    </div>
    <div
      class="flex-col align-item-end justify-content-center our-values-group"
    >
      <div class="row">
        <img
          src="/assets/svg/animal-welfare.svg"
          alt="animal-welfare-icon"
          class="mx-auto values-icons paw-icon"
          style="width: 6vw"
        />
      </div>
      <div class="d-flex flex-row justify-content-center mx-auto">
        <span>Bien-être animal</span>
      </div>
    </div>
    <div class="flex-col justify-content-center our-values-group">
      <div class="d-flex flex-row">
        <img
          src="/assets/svg/share.svg"
          alt="share-icon"
          class="mx-auto values-icons"
          style="width: 6vw"
        />
      </div>
      <div class="d-flex flex-row justify-content-center mx-auto">
        <span>Partage</span>
      </div>
    </div>
  </div>
</div>

<div class="description p-0">
  <div class="description__diagonal-section">
    <div class="container mx-auto">
      <div class="flex">
        <div class="col-12 description__rectangle-info">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/img/story1.png"
                  alt="story1-img"
                  style="width: 26vw"
                  class="description__image"
                />
              </div>
            </div>
            <div class="col-6 d-flex align-items-center">
              <div>
                <h4 class="description__title">
                  Tous les lieux près de chez vous !️
                </h4>
                <p class="description__stories__paragraph">
                  Vous en avez marre de rester enfermé avec votre petit
                  compagnon ? Votre chien a besoin de se défouler ?
                </p>
                <p class="description__stories__paragraph">
                  Profitez d’un moment complice avec lui.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="description__diagonal-section2">
    <div class="container mx-auto">
      <div class="flex">
        <div class="col-12">
          <div class="row align-item-center">
            <div class="col-6 d-flex align-items-center">
              <div>
                <h4 class="description__title">
                  Une sélection de professionnels adaptée à vos besoins !
                </h4>
                <p class="description__stories__paragraph2">
                  De l’enseignement à la résolution de problèmes
                  comportementaux, un excellent éducateur comportementaliste
                  canin peut faire toute la différence.
                </p>
                <p class="description__stories__paragraph2">
                  Permettez à votre chiot de sociabiliser avec de nouveaux
                  copains en respectant ses émotions.
                </p>
                <p class="description__stories__paragraph2">
                  Trouver le professionnel qui vous correspond !
                </p>
              </div>
            </div>
            <div class="col">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/img/story2.png"
                  alt="story2-img"
                  style="width: 26vw"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 6vh"></div>

<div class="dl">
  <h3 class="dl__text">Sortez avec votre animal sans vous prendre la tête !</h3>
  <button class="button">Téléchargez l'application 🤩</button>
</div>

<div class="professionnal">
  <h3 class="professionnal__title">Professionnels</h3>
  <div class="professionnal__items">
    <div class="professionnal__item">
      <div class="professionnal__item__img">
        <img src="/assets/svg/eye.svg" alt="eye" />
      </div>
      <span class="professionnal__item__title">Visibilité</span>
      <span class="professionnal__item__text">
        Mise en avant de votre
        <span class="c-orange">activité</span>
        grâce à un
        <span class="c-orange">abonnement</span>
        mensuel
      </span>
    </div>
    <div class="professionnal__item">
      <div class="professionnal__item__img">
        <img src="/assets/svg/heart.svg" alt="heart" />
      </div>
      <span class="professionnal__item__title">Partage</span>
      <span class="professionnal__item__text">
        Partagez votre
        <span class="c-orange">passion</span>
        avec les autres
      </span>
    </div>
    <div class="professionnal__item">
      <div class="professionnal__item__img">
        <img src="/assets/svg/check.svg" alt="check" />
      </div>
      <span class="professionnal__item__title">Crédibilité</span>
      <span class="professionnal__item__text">
        Rejoignez la liste des professionnels
        <span class="c-orange">engagés</span>
        dans le
        <span class="c-orange">bien-être animal</span>
      </span>
    </div>
  </div>
</div>

<div class="us">
  <div class="us__text">
    <h4 class="us__text__title">Qui sommes-nous ?</h4>
    <p class="us__text__body">
      Nous sommes une équipe de
      <span class="c-orange">5 personnes passionées</span>
      par les
      <span class="c-orange">animaux</span>
      : Clara, Flora, Léna, Ewen et Florentin !
    </p>
  </div>
  <div class="us__items">
    <div class="us__item">
      <div
        class="us__item__img"
        style="background-image: url('/assets/persona/milo.jpg')"
      >
        <!-- <img src="/assets/persona/milo.jpg" alt="Milo" /> -->
      </div>
      <div class="us__item__text">
        <span class="us__item__text__upper">Milo</span>
        <span>alias</span>
        <span class="us__item__text__upper">Clara</span>
      </div>
    </div>
    <div class="us__item">
      <div
        class="us__item__img"
        style="background-image: url('/assets/persona/inna.JPG')"
      >
        <!-- <img src="/assets/persona/inna.JPG" alt="Inna" /> -->
      </div>
      <div class="us__item__text">
        <span class="us__item__text__upper">Inna</span>
        <span>alias</span>
        <span class="us__item__text__upper">Flora</span>
      </div>
    </div>
    <div class="us__item">
      <div
        class="us__item__img"
        style="background-image: url('/assets/persona/sharly.jpeg')"
      >
        <!-- <img src="/assets/persona/sharly.jpeg" alt="Sharly" /> -->
      </div>
      <div class="us__item__text">
        <span class="us__item__text__upper">Sharly</span>
        <span>alias</span>
        <span class="us__item__text__upper">Léna</span>
      </div>
    </div>
    <div class="us__item">
      <div
        class="us__item__img"
        style="background-image: url('/assets/persona/cosmo.jpeg')"
      >
        <!-- <img src="/assets/persona/cosmo.jpeg" alt="Cosmo" /> -->
      </div>
      <div class="us__item__text">
        <span class="us__item__text__upper">Cosmo</span>
        <span>alias</span>
        <span class="us__item__text__upper">Florentin</span>
      </div>
    </div>
    <div class="us__item">
      <div
        class="us__item__img"
        style="background-image: url('/assets/persona/filou.JPG')"
      >
        <!-- <img src="/assets/persona/filou.JPG" alt="Filou" /> -->
      </div>
      <div class="us__item__text">
        <span class="us__item__text__upper">Filou</span>
        <span>alias</span>
        <span class="us__item__text__upper">Ewen</span>
      </div>
    </div>
  </div>
  <button class="button">Rejoignez-nous !</button>
</div>

<div class="newsletter">
  <h3 class="newsletter__title">
    <span>Recevez toutes les informations,</span>
    <span>inscrivez-vous à notre newsletter</span>
  </h3>
  <form class="newsletter__form">
    <input
      required
      type="text"
      name="newsletter_email"
      id="newsletter_email"
      placeholder="Ex : jean.dujardin@gmail.fr"
    />
    <div class="newsletter__cgu">
      <input type="checkbox" required id="" name="cgu" />
      <label for="newsletter__cgu__label">
        J'accepte les conditions générales et la politique de confidentialité
        <a href="/cgu">(en savoir +)</a>
      </label>
    </div>
    <button type="submit" class="button">Je m'inscris</button>
  </form>
</div>

<div class="footer">
  <div class="footer__container">
    <div class="footer__right">
      <h4 class="footer__right__title">Professionnels, contactez-nous !</h4>
      <form method="POST" class="footer__right__form">
        <input
          required
          type="text"
          name="contact_email"
          id="contact_email"
          placeholder="Email"
        />
        <input
          required
          type="text"
          name="contact_object"
          id="contact_object"
          placeholder="Sujet"
        />
        <textarea
          required
          type="text"
          name="contact_text"
          id="contact_text"
          placeholder="Ex : j'aimerais vous contacter par rapport à ..."
        ></textarea>
        <div class="footer__right__politic">
          <input type="checkbox" required id="" name="cgu" />
          <label for="footer__right__politic__label">
            En envoyant ce mail, j'accepte la politique de confidentialité
          </label>
        </div>
        <button type="submit" class="button">Nous contacter</button>
      </form>
    </div>
    <div class="footer__left">
      <div class="footer__left__logo">
        <img src="/assets/img/logo.png" alt="logo" />
      </div>
      <div class="footer__left__network">
        <div class="fb">
          <img src="/assets/svg/facebook.svg" alt="fb" />
        </div>
        <div class="insta">
          <img src="/assets/svg/instagram.svg" alt="insta" />
        </div>
        <div class="link">
          <img src="/assets/svg/linkedin.svg" alt="link" />
        </div>
        <div class="toktok">
          <img src="/assets/svg/tiktok.svg" alt="toktok" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <span
      >© 2023 GambaPet | Tous droits réservés | Conditions générales de
      vente</span
    >
    <span
      >Politique sur la confidentialité de données (RGPD) | Mentions
      légales</span
    >
  </div>
</div>
